.carousel{
    margin-bottom: 30px;
}
.images {
    position: relative;
    width: 1024px;

}

.images img {
    position: relative;
    width: 1024px;
}

.dots{
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap:5px;
    z-index: 55;
}

.dot{
    background-color: lightgray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
