.nav {
    width: 100%;
    padding: 0;
    margin-top: -5px;
    background-color: #015B7E;
    height: 35px;
    font-weight: bold;
    border-top:solid 3px #ea8503;
    display: flex;
    align-items: center;
} 

.navWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
} 

.navWrapper li{
    text-decoration: none;
    position: relative;
    padding: 9px 20px;
}

.navWrapper li a{
    width: 86px;
    color: rgb(226, 226, 236);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.dropdown {
    position: absolute;
    top: 35px;
    left: 0px;
    text-align: center;
    background: #015b7e;
    border: 1px solid #5970B2;
}

.dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 25px;
    width: 100px;
    white-space: nowrap;
    text-decoration: none;
    color: #ffffff;
    font: 11px arial;
    font-weight: bold;
    object-fit: cover;
    z-index: 5;
    float: left;

}

.dropdown{
    display: none;
}

.navWrapper li a:hover{
    color: #ea8503;
}

.navWrapper li:hover .dropdown{
    display: flex;
    flex-direction: column;
    width:auto;
    z-index: 100;
}

.dropdown :hover{
    display: block;
}

.dropdown a:hover {
    background: #03EFFD;
    color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#ddLink:hover{
    color: rgb(31, 31, 31);
}




